body {
  font: 2em system-ui;
  text-align: center;
}

.message {
  padding: 2rem;
  color: rgba(0, 19, 128, 0.781);
  font-weight: 700;
}

.dice {
  border: 0.25em solid rgb(199, 54, 78);
  border-radius: 0.25em;
  max-width: 20rem;
  display: block;
  margin: auto;
}

button {
  background: rgb(199, 54, 78);
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
}
