* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  padding: 2rem;
}

img {
  border: 5px solid;
}
