body {
  font: 2em system-ui;
  text-align: center;
  background-color: #4158d0;
  background-color: #4158d0;
  background-color: #ff9a8b;
  background-color: #fbda61;
  background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
}

.message {
  padding: 2rem;
  color: back;
  font-weight: 700;
}

.dice {
  border: 0.25em solid rgb(199, 54, 78);
  border-radius: 0.25em;
  max-width: 20rem;
  display: block;
  margin: auto;
  background-color: white;
}

button {
  background: rgb(199, 54, 78);
  color: white;
  border: none;
  padding: 0.5rem;
  font-size: 1rem;
}
